html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.Home_container__bCOhY {
  padding: 0 2rem;
}

.Home_main__nLjiQ {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.Home_footer____T7K {
  display: none;

  
}

.Home_footerbg__XmJ88 {
}

.Home_blank__VvP8P {
	display: none;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/footer.663488b0.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 520px;
	height: 145px;
	position: absolute;
	left: 200px;
	top: 600px;
}

.Home_title__T09hD a {
  color: #0070f3;
  text-decoration: none;
}

.Home_title__T09hD a:hover,
.Home_title__T09hD a:focus,
.Home_title__T09hD a:active {
  text-decoration: underline;
}

.Home_title__T09hD {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.Home_title__T09hD,
.Home_description__41Owk {
  text-align: center;
}

.Home_description__41Owk {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.Home_code__suPER {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.Home_grid__GxQ85 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.Home_card___LpL1 {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.Home_card___LpL1:hover,
.Home_card___LpL1:focus,
.Home_card___LpL1:active {
  color: #0070f3;
  border-color: #0070f3;
}

.Home_card___LpL1 h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.Home_card___LpL1 p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.Home_logo__27_tb {
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/mr9868.161039c9.png);
	height: 50px;
	width: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	margin-left: 85px;

}

.Home_homepage__o_ei3 {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
	transform: scale(1);
}

.Home_homepageImg__fcRDd {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/homepage.23adf4e7.jpg);
	background-repeat: no-repeat;
	position: absolute;
	width: 670px;
	height: 1000px;
	top:1px;
}

.Home_banner__WnS5R {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/banner.90285f07.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 420px;
	height: 142px;
	position: absolute;
	left: 240px;
	top: 150px;
}
.Home_bannerrul__NUsmJ {
        display: block;
        width: 420px;
        height: 142px;
        position: absolute;
        left: 240px;
        top: 100px;
	text-align: center;	
	color: blue;
}
.Home_bannerrul2__K3XLO {
        display: block;
        width: 420px;
        height: 142px;
        position: absolute;
        left: 242px;
        top: 102px;
	text-align: center;	
	color: grey;
}
.Home_mr9868__VkX0G {
	display: block;
        width: 420px;
        height: 142px;
        position: absolute;
        left: 230px;
        top: 135px;
	text-align: right;	
	color: grey;
	font-style: italic;
}
.Home_banner2__nEGJg {
	display: block;
	background-size: cover;
	width: 250px;
	height: 220px;
	left: 335px;
	top: 100px;
}
.Home_bannermina__8_pA6 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/banner2.83a01798.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 220px;
	position: absolute;
	left: 332px;
	top: 100px;
}

.Home_connectBtn__q4_OB {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn1.cbf22e1a.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 550px;
}

.Home_connectBtn__q4_OB:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn2.f4587791.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 550px;
}

.Home_connectBtn__q4_OB:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn3.3392c4ca.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 550px;
}

.Home_loadingBtn__vAScy {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/loadingBtn.7e7af154.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 550px;
}

.Home_loading__IsZ5F {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/loading2.a2c6fd1a.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 355px;
	top: 280px;
}

.Home_getLoading__Ml8Nf {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getLoading.fc807d4d.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 280px;
	height: 280px;
	position: absolute;
	left: 315px;
	top: 110px;
	z-index: 5;
}

.Home_sendLoading__Zkd01 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getLoading.fc807d4d.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 250px;
	z-index: 5;
	position: absolute;
	left: 330px;
	top: 110px;
}

.Home_sendCheck__xMz4p {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/check.cffdae03.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 43px;
	height: 35px;
	position: absolute;
	left: 295px;
	z-index: 5;
	top: 325px;
}

.Home_sendDone__abENy {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/senddone.23da855b.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 120px;
	position: absolute;
	left: 330px;
	top: 170px;
	z-index: 5;
}

.Home_caution__VEpHP {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/caution.c83a01cf.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 180px;
	height: 155px;
	position: absolute;
	left: 370px;
	top: 120px;
}

.Home_succes__k1IzW {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/succes.b807379f.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	position: absolute;
	left: 400px;
	top: 300px;
}

.Home_statusTxt__dVex8 {
	display: block;
	position: absolute;
	left: 320px;
	top: 520px;
	color: white;
	font-size: 15px;
	text-align: center;
	margin: auto;
    text-shadow: -1px -1px 0 grey, 1px -1px 0 black, -1px 1px 0 black, 0px 0px 1px grey;

}

.Home_statusSendTxt___A48X {
	display: block;
	position: absolute;
	z-index: 5;
	left: 340px;
	top: 320px;
	color: white;
	font-size: 18px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Home_walletLink__QYgFg {
	display: block;
	position: absolute;
	left: 390px;
	top: 370px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_walletTxt__aVJtU {
	display: block;
	position: absolute;
	left: 210px;
	top: 350px;
	color: white;
	font-size: 15px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_faucetTxt__R0HSg {
	display: block;
	position: absolute;
	left: 215px;
	top: 350px;
	color: white;
	font-size: 15px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_faucetHere__TRzkn {
	display: block;
	position: absolute;
	left: 390px;
	top: 370px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_backNoAccount__s1McX {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/backBtn1.bf820b9c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.Home_backNoAccount__s1McX:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/backBtn2.bf820b9c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.Home_backNoWallet__IBr_n {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/backBtn1.bf820b9c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.Home_backNoWallet__IBr_n:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/backBtn2.bf820b9c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.Home_sendBtn__F6hw6 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn1.d207f18a.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 550px;
}

.Home_sendBtn__F6hw6:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn2.6711dfb9.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 550px;
}

.Home_sendBtn__F6hw6:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn3.057ffe77.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 550px;
}

.Home_sendBtnDisable__6VyTK {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn3.057ffe77.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 550px;
}

.Home_getBtn__h_3sY {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn1.979e12ff.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 550px;
}

.Home_getBtn__h_3sY:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn2.8c08e57d.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 550px;
}

.Home_getBtn__h_3sY:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn3.85cc6a55.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 550px;
}

.Home_getBtnDisable__ASdt7 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn3.85cc6a55.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 550px;
}

.Home_txtState__XfTmO {
	display: block;
	position: absolute;
	left: 330px;
	top: 220px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	z-index: 5;
}

.Home_numState__RWB8u {
	display: block;
	position: absolute;
	left: 360px;
	top: 250px;
	color: white;
	font-size: 80px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	z-index: 5;
}

.Home_txtAddrs__0j0LW {
	display: block;
	position: absolute;
	left: 285px;
	top: 450px;
	color: white;
	font-size: 12px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_addrs__ciNE1 {
	display: block;
	position: absolute;
	left: 220px;
	top: 447px;
	color: white;
	font-size: 13px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Home_getscreen__MZw5Y{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
}

.Home_getscreenBlack__Krl3p {
	display: block;
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/black.96836c7e.png);
	background-size: repeat;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
 transform: scale(2.5);
   transform-origin: center;
	z-index:3;
}

.Home_getscreenImg__WMr9D {
	display: block;
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/screen3.73023b38.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 380px;
	height: 380px;
	position: absolute;
	left: 260px;
	top: 150px;
	z-index:4;
}

.Home_sendscreen__P9tsM{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
}

.Home_sendscreenBlack__x7Fq9 {
	display: block;
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/black.96836c7e.png);
	background-size: repeat;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
 transform: scale(2.5);
   transform-origin: center;
	z-index:1;
}

.Home_sendscreenImg__5SKtV {
	display: block;
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/send.559e440b.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 330px;
	position: absolute;
	left: 250px;
	top: 100px;
	z-index:2;
}


.Home_closeGet__qG2td {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/closeBtn1.3058827c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 590px;
	top: 150px;
	z-index:5;
}

.Home_closeGet__qG2td:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/closeBtn2.3058827c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 590px;
	top: 150px;
}

.Home_closeSend__b_1LB {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/closeBtn1.3058827c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 600px;
	top: 120px;
	z-index: 5;
}

.Home_closeSend__b_1LB:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/closeBtn2.3058827c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 600px;
	top: 120px;
	z-index: 5;
}

.Home_teleIcon__qLDZz {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/teleicon1.014268b4.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 90px;
	position: absolute;
	left: 255px;
	top: 800px;
}

.Home_dcIcon__DDy4R {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/dcicon1.d48208d6.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 90px;
	position: absolute;
	left: 355px;
	top: 800px;
}

.Home_twitterIcon__3Ktgl {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/twitter1.fb84967c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 90px;
	position: absolute;
	left: 455px;
	top: 800px;
}
.Home_gitIcon__L23x5 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/giticon1.11a311f4.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 90px;
	position: absolute;
	left: 555px;
	top: 800px;
}


@media (max-width: 600px) {
  .Home_grid__GxQ85 {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .Home_card___LpL1,
  .Home_footer____T7K {
    border-color: #222;
  }
  .Home_code__suPER {
    background: #111;
  }
  .Home_logo__27_tb img {
  }
   
  
}

